<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="failed_page.css">
<title>Home</title>

</head>
<body >
	<h1 align="center" style="color:red; ">Login failed</h1>
     <img src="sorry.jpg" ></img>
<div align="center">
	<button style="width:100px;height:60px" ><a href="Login.html">login again</a></button>
	<button style="width:100px;height:60px"><a href="sign-up.html">register</a></button>
</div>
</body> 
</html>