<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body style="background-color:#f0dbbc;color:#ffffff;">

	<header>
		<ul class="inline">
			<li><a class="active" href="" target="_blank">主页</a></li>
			<li><a href="" target="_blank">退出登录</a></li>
			<div class="dropdown">
				<a href="#" class="dropbtn">详细</a>
				<div class="dropdown-content">
					<a href="#" class="button button1"><span>生日</span></a>
					<a href="#" class="button button2"><span>地址</span></a>
				</div>
			</div>
		</ul>
	</header>
</body>

</html>