<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <link rel="stylesheet" type="text/css" href="/css/LoginCss.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="body">

<div class="LoginPadding">

    <h1 >Login</h1> 
    <div>
    

    <p class="UserName"  >
        UserName
    </p>
        <!-- 账号信息提交出## -->
        <form action="#######">
    <i class='fas fa-user-circle'></i>
        <!-- 表单账号信息 -->
    <input class="InputClass" placeholder="UserName">
        </form>
</div>
    <div>

    <p class="PassWord" type="password">
        
        PassWord
    </p>
        <!-- 密码信息提交出## -->
        <form action="#####">
    <i class="material-icons" >lock</i>
    <input type="password" id="psw" class="InputClass" placeholder="PassWord ">
        </form>

    <br>
    <!--  记住密码-->
    <input type="checkbox" name="myFunction()">Remember password

    <br>
    <!-- 忘记密码网页 -->
    
        <a href="#">forget password</a>
    
    





<div class="button">
    <button class="LoginButton" >
        <!--  登录网页 -->
        <a href="hw1.html">Login</a>
    </button>

    <button class="SignUpButton" here="HomePage.html">
        <!--  信息存储容器 -->
        <a href="sign-up.html">SignUp</a>
    </button>
    </div>
    </div>

</div>

</body>
</html>