<!DOCTYPE  html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<link rel="stylesheet" type="text/css" href="sign-upcss.css">

<body class="body">

	<form class="form" action="information.txt">
		<head>
		<title>sign_up</title>
<h1>sign up</h1>
		</head>





		<div>

			<p>
				Account Number <br> <input class="input"
					placeholder="Account Number">
			</p>
			<p>
				PassWord <br> <input class="input" placeholder="PassWord">
			</p>
			<p>
				Confirm <br> <input class="input" placeholder="Confirm">
			</p>
			<p>
				Name <br> <input class="input" placeholder="Name">
			</p>
			<p>
				Phone Number <br> <input class="input"
					placeholder="Phone Number">
			</p>
			<p>
				Mail <br> <input class="input" placeholder="Mail">
			</p>
			<div>
				<button class="button1">
					<a href="###"> sign up </a>
				</button>

				<button class="button2">
					<a href="Login.html"> hava ID </a>
				</button>

			</div>

		</div>

	</form>

</body>



</html>